<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>informacion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card style="background-color: #69D2CD">
      <!-- {{nombre | json}} -->
      <ion-card-header *ngIf="seccion.hasOwnProperty('clave_materia')">
        Clave: {{ seccion.clave_materia }}
      </ion-card-header>
      <ion-card-header *ngIf="seccion.hasOwnProperty('materia')">
        Materia: {{seccion.materia}}
      </ion-card-header>
      <ion-card-header *ngIf="seccion.hasOwnProperty('nrc')">
        NRC: {{ seccion.nrc }}
      </ion-card-header>
      <ion-card-header *ngIf="seccion.hasOwnProperty('seccion')">
        Seccion:: {{ seccion.seccion }}
      </ion-card-header>
      <ion-card-header *ngIf="seccion.hasOwnProperty('cupos')">
        Cupos: {{ seccion.cupos }}
      </ion-card-header>
      <ion-card-header *ngIf="seccion.hasOwnProperty('disponibles')">
        Disponibles: {{ seccion.disponibles }}
      </ion-card-header>
      <ion-card-header *ngIf="seccion.hasOwnProperty('profesor')">
        Profesor: {{ seccion.profesor }}
      </ion-card-header>
      <ion-card *ngFor="let h of seccion.horario" style="background-color: #F2CD44">
        <ion-card-header *ngIf="h.hasOwnProperty('hora')">
          Hora: {{ h.hora }}
        </ion-card-header>
        <ion-card-header *ngIf="h.hasOwnProperty('dias')">
          Dias: {{ h.dias }}
        </ion-card-header>
        <ion-card-header *ngIf="h.hasOwnProperty('edificio')">
          Edificio: {{ h.edificio }}
        </ion-card-header>
        <ion-card-header *ngIf="h.hasOwnProperty('aula')">
          Aula: {{ h.aula }}
        </ion-card-header>
      </ion-card>
    </ion-card>

</ion-content>
